.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.logo-icon {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.logo-text {
  font-size: 24px;
  color: #6366f1;
  font-weight: bold;
}
